# Database
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=be-cms
DATABASE_PORT=5432
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/be-cms

# Application
PORT=3000
NODE_ENV=production
JWT_SECRET=change-this-secret-in-production
API_URL=http://localhost:3000
CMS_URL=http://localhost:5173

# Upload Folder Names
NEWS_IMAGE_UPLOAD_FOLDER_NAME=news
NEWS_IMAGE_GALLERY_UPLOAD_FOLDER_NAME=news-gallery
ADS_IMAGE_UPLOAD_FOLDER_NAME=ads