# Database
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/be-cms

# Application
PORT=3000
NODE_ENV=production
JWT_SECRET=prod
API_URL=https://cms-api.devbygian.com
CMS_URL=https://cms-gea.devbygian.com

# Upload Folder Names
NEWS_IMAGE_UPLOAD_FOLDER_NAME=news
NEWS_IMAGE_GALLERY_UPLOAD_FOLDER_NAME=news-gallery
ADS_IMAGE_UPLOAD_FOLDER_NAME=ads